<a href="https://colab.research.google.com/github/raghulmalai/Ex02-Outlier/blob/main/Untitled7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving credit_data_1.csv to credit_data_1.csv

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns

df = pd.read_csv("credit_data_1.csv")
print(df)

     card  reports       age  income     share  expenditure owner selfemp  \
0     yes      0.0  37.66667  4.5200  0.033270   124.983300   yes      no
1     yes      0.0  33.25000  2.4200  0.005217     9.854167    no      no
2     yes      0.0  33.66667  4.5000  0.004156    15.000000   yes      no
3     yes      0.0  30.50000  2.5400  0.065214   137.869200    no      no
4     yes      0.0  32.16667  9.7867  0.067051   546.503300   yes      no
...   ...      ...       ...     ...       ...          ...   ...     ...
1327  yes      0.0  33.58333  4.5660  0.002146     7.333333   yes      no
1328   no      5.0  23.91667  3.1920  0.000376     0.000000    no      no
1329  yes      0.0  40.58333  4.6000  0.026513   101.298300   yes      no
1330  yes      0.0  32.83333  3.7000  0.008999    26.996670    no     yes
1331  yes      0.0  48.25000  3.7000  0.111619   344.157500   yes      no

      dependents  months  majorcards  active
0              3    54.0         1.0    12.0
1              3    34.0         1.0    13.0
2              4    58.0         1.0     5.0
3              0    25.0         1.0     7.0
4              2    64.0         1.0     5.0
...          ...     ...         ...     ...
1327           0    94.0         1.0    19.0
1328           3    12.0         1.0     5.0
1329           2     1.0         1.0     2.0
1330           0    60.0         1.0     7.0
1331           2     2.0         1.0     0.0

[1332 rows x 12 columns]

In [ ]:
df['owner'] = df["owner"].fillna(df['owner'].mode()[0])
print(df['owner'])

0       yes
1        no
2       yes
3        no
4       yes
       ...
1327    yes
1328     no
1329    yes
1330     no
1331    yes
Name: owner, Length: 1332, dtype: object

In [ ]:
df.head(5)

,card,reports,age,income,share,expenditure,owner,selfemp,dependents,months,majorcards,active
0,yes,0.0,37.66667,4.5200,0.033270,124.983300,yes,no,3,54.0,1.0,12.0
1,yes,0.0,33.25000,2.4200,0.005217,9.854167,no,no,3,34.0,1.0,13.0
2,yes,0.0,33.66667,4.5000,0.004156,15.000000,yes,no,4,58.0,1.0,5.0
3,yes,0.0,30.50000,2.5400,0.065214,137.869200,no,no,0,25.0,1.0,7.0
4,yes,0.0,32.16667,9.7867,0.067051,546.503300,yes,no,2,64.0,1.0,5.0

In [ ]:
df.describe()

,reports,age,income,share,expenditure,dependents,months,majorcards,active
count,1332.000000,1256.000000,1310.000000,1272.000000,1290.000000,1332.000000,1280.000000,1311.000000,1322.000000
mean,0.460210,33.166667,3.371285,0.069564,186.027490,0.999249,54.504688,0.816171,6.987141
std,1.349205,10.120351,1.697240,0.096816,277.091996,1.255192,65.618093,0.387493,6.318854
min,0.000000,0.166667,0.210000,0.000109,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,25.333330,2.250000,0.002148,4.583333,0.000000,12.000000,1.000000,2.000000
50%,0.000000,31.250000,2.900000,0.038775,101.298300,1.000000,30.000000,1.000000,6.000000
75%,0.000000,39.354165,4.000000,0.094864,248.665850,2.000000,70.000000,1.000000,11.000000
max,14.000000,83.500000,13.500000,0.906320,3099.505000,6.000000,540.000000,1.000000,46.000000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1332 entries, 0 to 1331
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   card         1328 non-null   object
 1   reports      1332 non-null   float64
 2   age          1256 non-null   float64
 3   income       1310 non-null   float64
 4   share        1272 non-null   float64
 5   expenditure  1290 non-null   float64
 6   owner        1332 non-null   object
 7   selfemp      1313 non-null   object
 8   dependents   1332 non-null   int64
 9   months       1280 non-null   float64
 10  majorcards   1311 non-null   float64
 11  active       1322 non-null   float64
dtypes: float64(8), int64(1), object(3)
memory usage: 125.0+ KB

In [ ]:
df.tail(20)

,card,reports,age,income,share,expenditure,owner,selfemp,dependents,months,majorcards,active
1312,yes,1.0,39.08333,3.4224,0.029100,82.659160,yes,no,0,41.0,1.0,12.0
1313,yes,0.0,38.41667,6.5000,0.029217,157.844200,yes,no,3,60.0,1.0,9.0
1314,yes,0.0,20.50000,2.0000,0.038431,63.551670,no,no,0,111.0,1.0,6.0
1315,yes,0.0,35.58333,3.5800,0.051992,154.859200,yes,no,2,123.0,1.0,7.0
1316,yes,0.0,25.91667,2.5000,0.021250,44.020830,no,no,0,25.0,1.0,10.0
1317,yes,1.0,40.16667,2.0000,0.254827,424.629200,yes,no,1,121.0,1.0,10.0
1318,yes,0.0,30.58333,2.5120,0.002627,4.583333,no,yes,3,36.0,0.0,4.0
1319,no,0.0,39.33333,2.3004,0.000522,0.000000,no,yes,0,46.0,1.0,3.0
1320,no,0.0,22.58333,3.8600,0.000311,0.000000,no,no,1,36.0,0.0,4.0
1321,no,1.0,30.33333,2.1800,0.000550,0.000000,no,yes,0,13.0,1.0,1.0
1322,yes,0.0,33.58333,4.5660,0.002146,7.333333,yes,no,0,94.0,1.0,19.0
1323,no,5.0,23.91667,3.1920,0.000376,0.000000,no,no,3,12.0,1.0,5.0
1324,yes,0.0,40.58333,4.6000,0.026513,101.298300,yes,no,2,1.0,1.0,2.0
1325,yes,0.0,32.83333,3.7000,0.008999,26.996670,no,yes,0,60.0,1.0,7.0
1326,yes,0.0,48.25000,3.7000,0.111619,344.157500,yes,no,2,2.0,1.0,0.0
1327,yes,0.0,33.58333,4.5660,0.002146,7.333333,yes,no,0,94.0,1.0,19.0
1328,no,5.0,23.91667,3.1920,0.000376,0.000000,no,no,3,12.0,1.0,5.0
1329,yes,0.0,40.58333,4.6000,0.026513,101.298300,yes,no,2,1.0,1.0,2.0
1330,yes,0.0,32.83333,3.7000,0.008999,26.996670,no,yes,0,60.0,1.0,7.0
1331,yes,0.0,48.25000,3.7000,0.111619,344.157500,yes,no,2,2.0,1.0,0.0

In [ ]:
df.columns

Index(['card', 'reports', 'age', 'income', 'share', 'expenditure', 'owner',
       'selfemp', 'dependents', 'months', 'majorcards', 'active'],
      dtype='object')

In [ ]:
df.isnull().sum()

card            4
reports         0
age            76
income         22
share          60
expenditure    42
owner           0
selfemp        19
dependents      0
months         52
majorcards     21
active         10
dtype: int64

In [ ]:
~df.duplicated()
df=df[~df.duplicated()]

In [ ]:
df.dropna()
df.dropna(axis=1)

      reports owner  dependents
0         0.0   yes           3
1         0.0    no           3
2         0.0   yes           4
3         0.0    no           0
4         0.0   yes           2
...       ...   ...         ...
1322      0.0   yes           0
1323      5.0    no           3
1324      0.0   yes           2
1325      0.0    no           0
1326      0.0   yes           2

[1319 rows x 3 columns]

In [ ]:
df.fillna(value=4)
df['dependents'].fillna(value=df['dependents'].mean())
df.fillna(method='ffill')

,card,reports,age,income,share,expenditure,owner,selfemp,dependents,months,majorcards,active
0,yes,0.0,37.66667,4.5200,0.033270,124.983300,yes,no,3,54.0,1.0,12.0
1,yes,0.0,33.25000,2.4200,0.005217,9.854167,no,no,3,34.0,1.0,13.0
2,yes,0.0,33.66667,4.5000,0.004156,15.000000,yes,no,4,58.0,1.0,5.0
3,yes,0.0,30.50000,2.5400,0.065214,137.869200,no,no,0,25.0,1.0,7.0
4,yes,0.0,32.16667,9.7867,0.067051,546.503300,yes,no,2,64.0,1.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1322,yes,0.0,33.58333,4.5660,0.002146,7.333333,yes,no,0,94.0,1.0,19.0
1323,no,5.0,23.91667,3.1920,0.000376,0.000000,no,no,3,12.0,1.0,5.0
1324,yes,0.0,40.58333,4.6000,0.026513,101.298300,yes,no,2,1.0,1.0,2.0
1325,yes,0.0,32.83333,3.7000,0.008999,26.996670,no,yes,0,60.0,1.0,7.0
1326,yes,0.0,48.25000,3.7000,0.111619,344.157500,yes,no,2,2.0,1.0,0.0

In [ ]:
df.fillna(method='bfill')

,card,reports,age,income,share,expenditure,owner,selfemp,dependents,months,majorcards,active
0,yes,0.0,37.66667,4.5200,0.033270,124.983300,yes,no,3,54.0,1.0,12.0
1,yes,0.0,33.25000,2.4200,0.005217,9.854167,no,no,3,34.0,1.0,13.0
2,yes,0.0,33.66667,4.5000,0.004156,15.000000,yes,no,4,58.0,1.0,5.0
3,yes,0.0,30.50000,2.5400,0.065214,137.869200,no,no,0,25.0,1.0,7.0
4,yes,0.0,32.16667,9.7867,0.067051,546.503300,yes,no,2,64.0,1.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1322,yes,0.0,33.58333,4.5660,0.002146,7.333333,yes,no,0,94.0,1.0,19.0
1323,no,5.0,23.91667,3.1920,0.000376,0.000000,no,no,3,12.0,1.0,5.0
1324,yes,0.0,40.58333,4.6000,0.026513,101.298300,yes,no,2,1.0,1.0,2.0
1325,yes,0.0,32.83333,3.7000,0.008999,26.996670,no,yes,0,60.0,1.0,7.0
1326,yes,0.0,48.25000,3.7000,0.111619,344.157500,yes,no,2,2.0,1.0,0.0

In [ ]:
df.shape

(1332, 12)